In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Dados.csv', sep=';')

In [10]:
df

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
...,...,...,...,...,...,...,...,...,...
995,996,2575 West 2700 South,NaN,Salt Lake City,74,84101,0xE6100000010C6E9ADC36AF544440AC180B5B4CF85BC0,708FC1DD-4994-4AA5-80A5-8C977C37AA15,2012-06-30 00:00:00.000
996,997,70259 West Sunnyview Ave,NaN,Visalia,9,93291,0xE6100000010C4497C3A5F12542406CD48C5685D35DC0,7C2E0511-DE61-4761-80EA-6A7B2F39E524,2013-07-31 00:00:00.000
997,998,60750 San Clemente,NaN,Hayward,9,94541,0xE6100000010CB2747D1801C94240124DA15E0D885EC0,822DC2BE-AAC2-4283-93A6-5027CFB6A7DF,2013-07-31 00:00:00.000
998,999,Receiving,NaN,Fullerton,9,92831,0xE6100000010C47CB4845F2EA404079A10C358C7F5DC0,93D3C32F-CC26-4F27-B91F-35A804554976,2012-07-31 00:00:00.000
999,1000,22555 Paseo De Las Americas,NaN,San Diego,9,92102,0xE6100000010CA43F3589854540402D8AD214E8385DC0,982BDCC2-6429-4725-A6DF-4FAF032EC908,2012-06-30 00:00:00.000

In [11]:
df

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
...,...,...,...,...,...,...,...,...,...
995,996,2575 West 2700 South,NaN,Salt Lake City,74,84101,0xE6100000010C6E9ADC36AF544440AC180B5B4CF85BC0,708FC1DD-4994-4AA5-80A5-8C977C37AA15,2012-06-30 00:00:00.000
996,997,70259 West Sunnyview Ave,NaN,Visalia,9,93291,0xE6100000010C4497C3A5F12542406CD48C5685D35DC0,7C2E0511-DE61-4761-80EA-6A7B2F39E524,2013-07-31 00:00:00.000
997,998,60750 San Clemente,NaN,Hayward,9,94541,0xE6100000010CB2747D1801C94240124DA15E0D885EC0,822DC2BE-AAC2-4283-93A6-5027CFB6A7DF,2013-07-31 00:00:00.000
998,999,Receiving,NaN,Fullerton,9,92831,0xE6100000010C47CB4845F2EA404079A10C358C7F5DC0,93D3C32F-CC26-4F27-B91F-35A804554976,2012-07-31 00:00:00.000
999,1000,22555 Paseo De Las Americas,NaN,San Diego,9,92102,0xE6100000010CA43F3589854540402D8AD214E8385DC0,982BDCC2-6429-4725-A6DF-4FAF032EC908,2012-06-30 00:00:00.000

In [12]:
df.loc[2]

AddressID                                                       3
AddressLine1                                 7484 Roundtree Drive
AddressLine2                                                  NaN
City                                                      Bothell
StateProvinceID                                                79
PostalCode                                                  98011
SpatialLocation    0xE6100000010C18E304C4ADE14740DA930C7893915EC0
rowguid                      4C506923-6D1B-452C-A07C-BAA6F5B142A4
ModifiedDate                              2013-03-07 00:00:00.000
Name: 2, dtype: object

In [13]:
df.head

<bound method NDFrame.head of      AddressID                 AddressLine1 AddressLine2            City  \
0            1                1970 Napa Ct.          NaN         Bothell
1            2           9833 Mt. Dias Blv.          NaN         Bothell
2            3         7484 Roundtree Drive          NaN         Bothell
3            4             9539 Glenside Dr          NaN         Bothell
4            5                1226 Shoe St.          NaN         Bothell
..         ...                          ...          ...             ...
995        996         2575 West 2700 South          NaN  Salt Lake City
996        997     70259 West Sunnyview Ave          NaN         Visalia
997        998           60750 San Clemente          NaN         Hayward
998        999                    Receiving          NaN       Fullerton
999       1000  22555 Paseo De Las Americas          NaN       San Diego

     StateProvinceID PostalCode  \
0                 79      98011
1                 79      98011
2                 79      98011
3                 79      98011
4                 79      98011
..               ...        ...
995               74      84101
996                9      93291
997                9      94541
998                9      92831
999                9      92102

                                    SpatialLocation  \
0    0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0
1    0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0
2    0xE6100000010C18E304C4ADE14740DA930C7893915EC0
3    0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0
4    0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0
..                                              ...
995  0xE6100000010C6E9ADC36AF544440AC180B5B4CF85BC0
996  0xE6100000010C4497C3A5F12542406CD48C5685D35DC0
997  0xE6100000010CB2747D1801C94240124DA15E0D885EC0
998  0xE6100000010C47CB4845F2EA404079A10C358C7F5DC0
999  0xE6100000010CA43F3589854540402D8AD214E8385DC0

                                  rowguid             ModifiedDate
0    9AADCB0D-36CF-483F-84D8-585C2D4EC6E9  2007-12-04 00:00:00.000
1    32A54B9E-E034-4BFB-B573-A71CDE60D8C0  2008-11-30 00:00:00.000
2    4C506923-6D1B-452C-A07C-BAA6F5B142A4  2013-03-07 00:00:00.000
3    E5946C78-4BCC-477F-9FA1-CC09DE16A880  2009-02-03 00:00:00.000
4    FBAFF937-4A97-4AF0-81FD-B849900E9BB0  2008-12-19 00:00:00.000
..                                    ...                      ...
995  708FC1DD-4994-4AA5-80A5-8C977C37AA15  2012-06-30 00:00:00.000
996  7C2E0511-DE61-4761-80EA-6A7B2F39E524  2013-07-31 00:00:00.000
997  822DC2BE-AAC2-4283-93A6-5027CFB6A7DF  2013-07-31 00:00:00.000
998  93D3C32F-CC26-4F27-B91F-35A804554976  2012-07-31 00:00:00.000
999  982BDCC2-6429-4725-A6DF-4FAF032EC908  2012-06-30 00:00:00.000

[1000 rows x 9 columns]>